<!doctype html>
<html ng-app="sb-app">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<link rel="stylesheet" href="lib/normalize.css">
<link rel="stylesheet" href="lib/main.css">
<link rel="stylesheet" href="http://storyboard.sportsbet.com.au/R20/css/default/font-icons.css">
<link rel="stylesheet" href="partial/001/app.css">
<script src="../angular-1.2.9/angular.js"></script>
<script src="../vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<h1>UI Enhancement Demos</h1>

	<section class="sec">
		<h3>1. List</h3>
		<p>ngRepeat</p>
		<div class="sec-demo cfix" ng-controller="ListCtrl">
			<ol class="card table list-mkt">
				<li class="th">
					<h4 class="title">Title</h4>
					<span class="text-right id">Form</span>
					<span class="text-right open">Open</span>
					<span class="text-right fluc1">Fluc 1</span>
					<span class="text-right win">Win | Place</span>
				</li>
				<!-- NG-REPEAT -->
				<li class="tr mkt" ng-repeat="mkt in mkts">
					<h4 class="title" ng-bind="mkt.title"></h4>
					<span class="text-right id" ng-bind="mkt.id | uppercase"></span>
					<span class="text-right open" ng-bind="mkt.open | number:2"></span>
					<span class="text-right fluc1" ng-bind="mkt.fluc1 | number:2"></span>
					<span class="text-right win">
						<a class="btn btn-std btn-sml" href="" sb-ripple>
							<span class="label" ng-bind="mkt.win | number:2"></span>
						</a>
						<a class="btn btn-std btn-sml" href="" sb-ripple>
							<span class="label" ng-bind="mkt.place | number:2"></span>
						</a>
					</span>
				</li><!-- /NG-REPEAT -->
			</ol>
		</div>
	</section>

	<section class="sec">
		<h3>2. Buttons</h3>
		<p>Custom directive</p>
		<p><b>sb-ripple</b></p>
		<div class="sec-demo cfix">
			<!-- button price -->
			<a class="card btn-price" href="javascript:void(0);" sb-ripple>
				<img class="icon-jersey" src="http://i.sbstatic.com.au/silks/aa493b1d01d58d0f634c2e41224f97a3.gif" alt="">
				<div class="price">1.86</div>
				<div class="content">
					<h4 class="title">6. Marty's Order <span class="num">(3)</span></h4>
					<div class="desc">
						<p><b>T</b>:L J Tilley</p>
						<p><b>J</b>:Samantha Clento <b>(a0)</b></p>
						<p><b>W</b>:59 kg</p>
					</div>
				</div>
			</a>
			<!-- button price -->
			<a class="card btn-price" href="javascript:void(0);" sb-ripple>
				<img class="icon-jersey" src="http://i.sbstatic.com.au/silks/febb0ac6f08612b333c61b95e0097813.gif" alt="">
				<div class="price">1.80</div>
				<div class="content">
					<h4 class="title">11. The Governor <span class="num">(1)</span></h4>
					<div class="desc">
						<p><b>T</b>:P M Perry</p>
						<p><b>J</b>:Priscilla Schmi <b>(a0)</b></p>
						<p><b>W</b>:57.5 kg</p>
					</div>
				</div>
			</a>
		</div>
		<div class="sec-demo cfix">
			<!-- button -->
			<a class="btn btn-action btn-lrg" href="" sb-ripple>
				<span class="label">Bet Now</span>
			</a>
			<!-- button -->
			<a class="btn btn-std" href="" sb-ripple>
				<span class="label">Desposit</span>
			</a>
			<!-- button -->
			<a class="btn btn-std btn-sml" href="" sb-ripple>
				<span class="label">8.00</span>
			</a>
		</div>
	</section>

	<section class="sec">
		<h3>3. Currency</h3>
		<p>Custom directive, ngModel, $formatters, $parsers, isolated scope</p>
		<div class="sec-demo cfix" ng-controller="FormCtrl">
			<!-- SB-CURRENCY -->
			<fieldset class="col">
				<p><b>sb-currency</b></p>
				<div><small>1. Two-way translation</small></div>
				<div><small>2. Input value prefix (string)</small></div>
				<input class="text bold" ng-model="amount" sb-currency sb-currency-symbol="Model Value: " disabled>
				<input class="text" ng-model="amount" sb-currency sb-currency-symbol="$" sb-currency-rate="1">
				<input class="text" ng-model="amount" sb-currency sb-currency-symbol="NZD " sb-currency-rate="0.92">
				<input class="text" ng-model="amount" sb-currency sb-currency-symbol="HKD $" sb-currency-rate="8">
			</fieldset><!-- /SB-CURRENCY -->

			<!-- SB-CURRENCY -->
			<fieldset class="col">
				<p><b>sb-input, sb-ripple</b></p>
				<div><small>1. One-way translation</small></div>
				<div><small>2. Input field prefix (html)</small></div>
				<sb-input
					sb-input-icon="financial"
					sb-input-watch="amount"
					sb-input-rate="0.0022"
					sb-input-decnum="4"
					sb-ripple></sb-input>
				<sb-input
					sb-input-prefix="$"
					sb-input-watch="amount"
					sb-input-rate="1"
					sb-input-decnum="2"
					sb-ripple></sb-input>
				<sb-input
					sb-input-prefix="NZD "
					sb-input-watch="amount"
					sb-input-rate="0.92"
					sb-input-decnum="3"
					sb-ripple></sb-input>
				<sb-input
					sb-input-prefix="HKD $"
					sb-input-watch="amount"
					sb-input-rate="8"
					sb-input-decnum="4"
					sb-ripple></sb-input>
			</fieldset><!-- /SB-CURRENCY -->
		</div>
	</section>

	<section class="sec">
		<h3>4. Timer</h3>
		<p>$interpolate, $digest</p>
		<p><b>sb-timer</b></p>
		<div class="sec-demo cfix" ng-controller="FormCtrl">
			<!-- normal countdown -->
			<div><small>1. Normal countdown</small></div>
			<div class="ui-timer">
				<sb-timer
					sb-timer-id="1705830"
					sb-timer-start-time=""
					sb-timer-event-time="1418591829908"></sb-timer>
			</div>

			<!-- less than 30 min -->
			<div><small>2. Soon (less than 30 mins)</small></div>
			<div class="ui-timer">
				<sb-timer
					sb-timer-id="1705827"
					sb-timer-start-time="1417572810126"
					sb-timer-event-time="1417574610126"></sb-timer>
			</div>

			<!-- less than 10 sec -->
			<div>
				<small>3. Sooner (less than 1 min)</small>
			</div>
			<div class="ui-timer">
				<sb-timer
					sb-timer-animated="animated"
					sb-timer-id="1705827"
					sb-timer-start-time="1417574550126"
					sb-timer-event-time="1417574610126"></sb-timer>
				<sb-timer
					sb-timer-animated="animated"
					sb-timer-id="1705827"
					sb-timer-start-time="1417574550126"
					sb-timer-event-time="1417574610126"></sb-timer>
				<sb-timer
					sb-timer-animated="animated"
					sb-timer-id="1705827"
					sb-timer-start-time="1417574550126"
					sb-timer-event-time="1417574610126"></sb-timer>

				<!-- anim control -->
				<a class="btn btn-action btn-sml" href="" sb-ripple="" ng-click="toggleAnimated()">
					<span class="label">Party Mode</span>
				</a>
			</div>

			<!-- passed -->
			<div><small>4. Passed (negative count up)</small></div>
			<div class="ui-timer">
				<sb-timer
					sb-timer-id="1705829"
					sb-timer-start-time=""
					sb-timer-event-time="1417574610126"></sb-timer>
			</div>
		</div>
	</section>

	<div class="footnotes">
		<div><dt><sup></sup></dt>
		<dd></dd></div>
	</div>
</body>
<script src="partial/001/app.js"></script>
</html>
