<!doctype html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">
	<link rel="stylesheet" href="lib/normalize.css">
	<link rel="stylesheet" href="lib/main.css">
	<script src="../vendor/jquery-1.8.3.min.js"></script>
	<script src="../backbone-1.1.2/underscore.js"></script>
	<script src="../backbone-1.1.2/backbone.js"></script>
</head>
<body>
	<h1>To Do List</h1>
	<div id="todo"></div>
	<script type="text/template" id="item-template">
		<div>
			<input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %> >
			<%= title %>
		</div>
	</script>

	<!-- app -->
	<script>
		/* -------------------------------------------------------------------------- */
		/* Model */

		//define Todo Model class
		var Todo = Backbone.Model.extend({
			//default values
			default:{
				title:'',
				completed:false
			}
		});

		//create Todo model instance
		var myTodo = new Todo({
			title:'check console',
			completed: false
		});

		/* -------------------------------------------------------------------------- */
		/* View */

		//define TodoView View class
		var TodoView = Backbone.View.extend({
			tagName:'li',
			todoTpl:_.template( $('#item-template').html() ),
			events: {
				'dblclick label': 'edit',
				'keypress .edit': 'updateOnEnter',
				'blur .edit': 		'close'
			},
			//called when view is first created
			initialize: function(){
				this.$el = $('#todo');
			},
			render: function(){
				this.$el.html( this.todoTpl( this.model.toJSON() ) );
				this.input = this.$('.edit');
				return this;
			},
			edit: function(){

			},
			close: function(){

			},
			updateOnEnter: function(e){

			}
		});

		//create TodoView instance for Todo
		var todoView = new TodoView({
			model: myTodo
		});

		//render view
		todoView.render();
	</script><!-- /app -->
</body>
</html>
