@charset "utf-8";

/* Normalisation Adapted from HTML5 Boilerplate 2 (20111003 JX) */   
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Customize the background color to match your design
 */
::-moz-selection { background: #666; /*grey*/ color: #fff; text-shadow: none; }
::selection { background: #666; /*grey*/ color: #fff; text-shadow: none; }
/* =============================================================================
   Links
   ========================================================================== */
a { color: #0c5ba3; /*blue*/ } 
a:visited { color: #0c5ba3; /*blue*/ }
a:hover { color: #e1240f; /*red*/ }
a:focus { outline: thin dotted; }
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }
/* CSS3 transitions on links */
a {
	/* Firefox 4 */
	-moz-transition-property:color, background-color, border-color;
	-moz-transition-duration:0.2s;
	-moz-transition-timing-function:ease-in-out;
	-moz-transition-delay:0s;
	/* Safari and Chrome */
	-webkit-transition-property:color, background-color, border-color;
	-webkit-transition-duration:0.2s;
	-webkit-transition-timing-function:ease-in-out;
	-webkit-transition-delay:0s;
	/*native CSS3*/
	transition-property: color, background-color, border-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) { overflow: hidden; }
/* =============================================================================
   Forms
   ========================================================================== */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend { border: 0; *margin-left: -7px; padding: 0; }
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 * 4. Remove default iOS styling (JX20111006)
 * 5. Remove default focus outline styling in webkit browsers (JX20111004)
 */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; -webkit-appearance:none; -webkit-border-radius:0px; }
button:focus, input:focus, select:focus, textarea:focus { outline: none; }
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input { line-height: normal; *overflow: visible; }
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input { *overflow: auto; }
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  }
/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: JX 20111026
   ========================================================================== */
   
/* ------------------------------------------------------------------------------ */
/* global */
/* ------------------------------------------------------------------------------ */
body { 
	color:#232323;
	background:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	line-height:20px;/*1.5x of font-size*/
}
	/* container (can be used as a page background container) */
	#container { 
		position:relative;
		width:100%;
		min-width:980px;
		margin:0;
		padding:0;
	}
	
/* ------------------------------------------------------------------------------ */
/* header */
/* ------------------------------------------------------------------------------ */
#header {
	width:980px;
	height:160px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	position:relative
}
	#header h1 {
		color:#f2f2f2;
		font-family:'StMarieThin',serif;
		font-size:42px;
		font-weight:normal;
		line-height:42px;
		margin:35px 0 0 17px;
		/*text-shadow*/
		text-shadow: 0px 2px 2px #333;
	}
	#header p {
		font-size:12px;
		font-weight:normal;
		color:#c2c2c2;
		margin:10px 0 0 20px;
	}

	/*nav*/ 
	#nav {
		background:url(../img/sprite-nav.png) 0 0 no-repeat;
		margin:0;
		padding:0;
		width:100%;
		height:40px;
		overflow:hidden;
		position:absolute;
		bottom:0;
		border-top:1px solid #373333;
		border-bottom:1px solid #373333;
	}
		/*nav items*/
		#nav li, #nav a {
			display:block;
			position:absolute;
			top:0;
			margin:0;
			padding:0;
			height:40px;		
		}	
		#nav00 { width: 80px; left:  0px; }
		#nav01 { width:110px; left: 80px; }
		#nav02 { width:110px; left:190px; }
		#nav03 { width: 90px; left:300px; }
		#nav04 { width: 90px; left:390px; }
		#nav05 { width:110px; left:480px; }
		
			/*nav links*/
			#nav a { width:100%; left:0; }
			#nav a:hover, #nav a.selected { background: url(../img/sprite-nav.png) no-repeat; }
			#nav a.selected { cursor:default!important; }
			
			#nav00 a:hover { background-position:    0px -40px; }
			#nav01 a:hover { background-position:  -80px -40px; }
			#nav02 a:hover { background-position: -190px -40px; }
			#nav03 a:hover { background-position: -300px -40px; }
			#nav04 a:hover { background-position: -390px -40px; }
			#nav05 a:hover { background-position: -480px -40px; }
			
			#nav00 a.selected,#nav00 a.selected:hover { background-position:   -0px -80px; }
			#nav01 a.selected,#nav01 a.selected:hover { background-position:  -80px -80px; }
			#nav02 a.selected,#nav02 a.selected:hover { background-position: -190px -80px; }
			#nav03 a.selected,#nav03 a.selected:hover { background-position: -300px -80px; }
			#nav04 a.selected,#nav04 a.selected:hover { background-position: -390px -80px; }
			#nav05 a.selected,#nav05 a.selected:hover { background-position: -480px -80px; }


/* ------------------------------------------------------------------------------ */
/* main */
/* ------------------------------------------------------------------------------ */
#main {
	margin:0 auto;
	padding:0;
	width:980px;
	height:auto;
	overflow:hidden;
	position:relative;
	background:#d8d8d8;
}
body.home #main {
	/*custom background*/
}
	/*banners - standard */
	#banner { 
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:160px; 
		background-position:center center;
		background-repeat:no-repeat; 
	} 
	/*banners - home*/
	body.home #banner {	height:260px; } /*content CSS see slideshow.css*/
	/*banners imgs*/
	body.sec01 #banner { background-image:url(../img/slideshow1.jpg); } /*standard*/
	body.sec02 #banner { background-image:url(../img/slideshow2.jpg); } /*columns*/
	body.sec03 #banner { background-image:url(../img/slideshow3.jpg); } /*styles*/
	body.sec04 #banner { background-image:url(../img/slideshow4.jpg); } /*images*/
		

/* ------------------------------------------------------------------------------ */
/* content */
/* ------------------------------------------------------------------------------ */
#content {
	width:100%;
	margin:0;
	padding:160px 0 0 0;
	overflow:hidden;
	position:relative;
	z-index:9;
}
body.home #content { background:none; padding-top:260px; }

	/*columns*/
	#columns {
		width:980px;
		height:auto;
		margin:0 auto;
		padding:0; 
		position:relative;
	}
	body.home #columns { min-height:260px; }
	.ie6 body.home #columns { height:260px; overflow:visible; }
		
		/*columns - common*/
		.columnLeft,
		.columnRight,
		.columnFull {
			min-height:460px;
			margin:0;
			height:auto;
			overflow:hidden;
			position:relative;
		}
		
		/*column left*/
		.columnLeft {
			width:280px;
			padding:0;
			float:left!important;	
			clear:left!important;
			background:#ccc;
		}
			/*column left - section title*/
			.columnLeft h2 {
				width:240px;
				margin:0;
				padding:20px;
				/*style*/
				color:#fff;
				background:#777;
				font-family:'StMarieThin',Arial,sans-serif;
				font-weight:bold;
				font-size:36px;
				line-height:43px;
				text-transform:uppercase;
				/*text-shadow*/
				text-shadow: 0px 0px 4px #333;				
			}
		
		/*column right*/
		.columnRight {
			float:right!important;
			clear:right!important;
			background:#f2f2f2;
		}			
		/*column right - contentViewport*/
		.contentViewport {
			width:640px;
			padding:20px 30px;
		}
			
		/*column - full*/
		.columnFull {
			position:relative;
			width:900px; 
			padding:20px 40px;
			float:none;
			clear:both;
			overflow:hidden;
		}
		/*column - full contentViewport*/
		.columnFull .contentViewport { /*customisation*/ }
				

/* ------------------------------------------------------------------------------ */
/* side nav */ 
/* ------------------------------------------------------------------------------ */
#sideNav {
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
	width:280px;
	overflow:hidden;
}
	/*level 1 nav items*/
	#sideNav li {
		color:#232323;
		font-size:13px;
		font-weight:bold;
		line-height:16px;
		margin:0 0 0 24px;
		padding:0 0 6px 0;
		width:232px;
		overflow:hidden;
		border-bottom:1px dotted #999;
	}	
	#sideNav li.last-child { border-bottom:none; }
	#sideNav li:last-child { border-bottom:none; }
	
	/*level 1 links*/
	#sideNav li a,
	#sideNav li a:link,
	#sideNav li a:active,
	#sideNav li a:visited {
		color: #555;
		background:url(../img/blt-sidenav-lv1.png) 1px 15px no-repeat; 
		text-decoration: none; 
		display: block; 
		margin:0;
		padding:10px 0 10px 15px;
	}
	#sideNav li a:hover { color:#000; }
	
		/*level 2 nav items*/
		#sideNav li ul { list-style:none; margin:0; padding:0 0 10px 16px; display: none; }
		#sideNav li.selected ul { display: block; }
		#sideNav li li {
			color:#555;
			font-size:12px;
			font-weight:bold;
			line-height:14px;
			margin:0;
			padding:0;
			width:170px;			
		}		
		#sideNav li li { border-bottom:none; }
		#sideNav li li.last-child { border-bottom:none; }
		#sideNav li li:last-child { border-bottom:none; }
		
		/*level 2 links*/
		#sideNav li li a,
		#sideNav li li a:link,
		#sideNav li li a:active,
		#sideNav li li a:visited { color: #555; background:url(../img/blt-sidenav-lv2.png) 0 9px no-repeat; padding:5px 0 5px 15px; margin:0; }
		#sideNav li li a:hover { color: #000 !important;	}
	
	/*selected*/
	#sideNav li .selected,
	#sideNav li li.selected a { color: #000 !important; }
	#sideNav li a.selected:hover,  	
	#sideNav li li.selected a:hover { color: #000 !important; cursor: default !important; } 	
	

/* ------------------------------------------------------------------------------ */
/* footer */
/* ------------------------------------------------------------------------------ */
#footer {
	margin:0 auto;
	width:980px;
	height:50px;
	position:relative;
	background:#555;
}
	/*copyright links*/
	#footer ul {
		color:#ccc;
		font-size:11px;
		line-height:11px;
		width:940px;
		padding:20px 20px 0 20px;
		margin:0;
	}	
	#footer a,
	#footer a:link,
	#footer a:visited,
	#footer a:active { color:#ccc; text-decoration:none; }
	#footer a:hover  { color:#eee; text-decoration:underline; }
	/*FW logo*/
	#FWenabled, #FWenabled a { float:right; width:120px; height:20px; margin:0; padding:0; border:none!important; }
	#FWenabled a { float:none; background:url(../img/sprite-fw.png) 0px -20px no-repeat; margin-top:-5px; }
	#FWenabled a:hover { background-position:0px 1px; }


/* ------------------------------------------------------------------------------ */
/* Buttons */
/* ------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------ */
/* sections - HOME */ 
/* ------------------------------------------------------------------------------ */

/*content specific*/
body.home .columnLeft { width:600px; position:relative; min-height:200px; background:#e8e8e8; }
body.home .columnRight { width:380px; position:relative; min-height:0px; }
body.home .columnLeft,
body.home .columnRight { padding-bottom:1000px; margin-bottom:-1000px; }
body.home #columns #welcomeText {
	color:#565656;
	font-family:'PTSansNarrowRegular',Arial,sans-serif;
	font-size:26px;
	font-weight:bold;
	line-height:39px; 
	/*layout*/
	width:540px;
	margin:0;
	padding:30px;
	overflow:hidden;
}

/*news*/
body.home #news {
	margin:0;
	padding:30px 20px;
	width:340px;
	overflow:hidden;
	position:relative;
	overflow:hidden;
	float:right;
}
	/*title*/
	body.home #news h2 {
		font-family:'StMarieThin', Arial, sans-serif;
		font-size:18px;
		line-height:22px;
		margin:0;
		padding:0;
	}
	/*newsListing*/	
	body.home .newsListing {
		margin:0;
		padding:0 0 0 0;
	}
		/*newsListing item content*/
		body.home .newsItem {
			display:block;
			position:relative;
			margin:20px 0 0 0;
			padding:0 0 20px 0;
			border-bottom:1px solid #aaa;
			width:100%;
			min-height:90px;
			cursor:pointer;
			color:#fff;
			text-decoration:none;
		}
		.ie6 body.home .newsItem  {
			height:90px;
			overflow:visible;
		}
		body.home .newsItem.last-child { border-bottom:none; padding-bottom:0; }
							
			/*imgThumb*/
			.newsItem .imgThumb {
				/*layout*/
				position:absolute; 
				top:0;
				left:0; 
				width:110px;
				height:90px; 
			}
				.newsItem .imgThumb img { 
					width:110px; 
					height:90px;
					display:block;
					border:1px solid #e8e8e8;
				}
			
			/*newsContent*/
			.newsItem .newsContent { 
				margin:0 0 0 130px;
			}
				.newsItem .newsContent p { 
					color:#333;
					font-size:12px; 
					font-weight:normal;
					line-height:18px; 
					margin:0;
					padding:0;
					text-decoration:none;
				}
				.newsItem .newsContent .title,
				.newsItem .newsContent .title a { 
					color:#666;
					font-size:16px;
					font-weight:bold; 
					padding:0 0 10px 0;
					text-decoration:none;
				}
				.newsItem .newsContent .date { 
					color:#666;
					font-size:11px;
					font-weight:bold;
					text-transform:uppercase; 
					margin:0;
					padding:0 0 4px 0;
				}
				
			/*newsListing item hover*/
			.newsItem:hover p { text-decoration:none; }
			.newsItem:hover .title a { text-decoration:underline; }
			.newsItem:hover .imgThumb img { border-color:#fff; }


/* ------------------------------------------------------------------------------ */
/* Common elements TOBEDONE */
/* ------------------------------------------------------------------------------ */
/*pagination*/
.pagination { 
	margin:0 0 20px 0;
	padding:10px 15px;
	height:18px;
	border-top:2px solid #333; 
	overflow:hidden;  
}
	.pagination .msg,
	.pagination .pages { line-height:20px; height:20px; margin:0; padding:0; width:auto; overflow:visible; }
	.pagination .msg   { color:#232323; font-size:12px; float:left; }
	.pagination .pages { text-align:right; float:right; }
	
		/*buttons global*/
		.pagination .pages .btnPrev,
		.pagination .pages .btnNext,
		.pagination .pages .btnPage {
			font-size:12px;
			font-weight:bold;
			line-height:20px;
			text-decoration: none;
			display:block; 
			float:left; 
			margin:0 2px;
			padding:0;  
			width:20px; 
			height:20px; 
			overflow:hidden;
		}
		
		/*navigation buttons*/
		.pagination .pages .btnPrev,
		.pagination .pages .btnNext {
			background-image:url(../img/sprite-contentviewport-pagination.png);
			background-repeat:0 0 no-repeat;	
			font-size:0px;
			line-height:0px;
			text-indent:-9999em;
			width:20px; 
		}
		.pagination .pages .btnPrev { margin-right:6px; }
		.pagination .pages .btnNext { margin-left:6px; }
		
		.pagination .pages .btnPrev       { background-position:   0px   0px; }
		.pagination .pages .btnPrev:hover { background-position: -20px   0px; }
		.pagination .pages .btnNext       { background-position:  -0px -20px; }
		.pagination .pages .btnNext:hover { background-position: -20px -20px; }
		
		/*page buttons*/
		.pagination .pages .btnPage,
		.pagination .pages .btnPage:link,
		.pagination .pages .btnPage:visited,
		.pagination .pages .btnPage:active { 
			color:#4d494b;
			text-align:center;
			background:#e2e2e2; 
			/*border-radius*/
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
		}
		.pagination .pages .btnPage:hover,
		.pagination .pages .btnPage:focus { 
			background:#fff; 
			text-decoration:none;
		}
		.pagination .pages .btnPage.selected { 
			color:#fff!important;
			background:#999;
			cursor:default!important;
		}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir { display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; line-height:1px; }
.ir br { display: none; }
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear:both; }
.clearer { float: none;	clear: both; height: 0;	line-height: 0;	overflow: hidden; visibility: hidden; }
/* convert a list of links to a horizontal line of links with pipe seps (JX 20111004) */
.listLinks { list-style:none; overflow:visible; }
	.listLinks li { float:left; padding-right:8px; margin-right:8px; border-right: 1px solid; background: none; }
	/*.listLinks li:last-child { border-right:none; padding-right:0; }*/
	.listLinks li.last-child { border-right:none; padding-right:0; }
	
/* common text styles */
.txtLowerCase { text-transform:lowercase; }
code { /*for style notes*/
	display:inline-block; margin:0 0 20px 0; padding:0 10px; clear:both;
	font-size:11px; font-weight:bold; line-height:20px; 
	color:#fff; background:#CC9; border-radius:10px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);
	text-shadow:0 1px 0px rgba(0,0,0,0.2);
}

/*debug styles 
p 	{ background-color:rgba(255,255,0,0.1); }
li 	{ background-color:rgba(255,0,0,0.1); }
a	{ background-color:rgba(0,0,255,0.1); }
h1,h2,h3,h4,h5 { background-color:rgba(0,255,0,0.1); } */