@charset "utf-8";

@import url("common.css");
/*
.column01  {
    float:left;
    margin:0px;
    padding:0px 40px 0px 0px;
    width:300px;
	}
	
.column02 {
    float:left;
    margin:0px;
    padding:0px;
    width:270px;
	}
*/	
.sitemap_caps  {
    color:#333333!important;
    font-size:14px!important;
    font-weight:bold!important;
    padding-bottom:3px!important;
    text-transform:capitalize;
	}

ul.sitemap {
	margin:0px 0px 15px 0px;
	padding:0px;
	}
	
ul.sitemap ul { margin:0px; padding:0 0 0 10px; }
	
ul.sitemap li,
ul.sitemap li li {
    background:url(../img/bullet_disc_cccdce.gif) 1px 8px no-repeat!important;
    padding:1px 0 1px 13px!important;
	}
	
ul.sitemap li a,
ul.sitemap li li a { background-image:none;  color:#666666; text-decoration:none; }
ul.sitemap li a:hover,
ul.sitemap li li a:hover { text-decoration:underline; }

h2 { margin:0px!important; padding:0px!important; }
