/* ------------------------------------------------------------------------------ */
/* GLOBAL */
/* ------------------------------------------------------------------------------ */
body {
	margin:30px;
	padding:0;
	background:#e4e4e4;
	color:#333;	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-weight:normal;
	line-height:21px
}

/* ------------------------------------------------------------------------------ */
/*  */
/* ------------------------------------------------------------------------------ */