<!-- Repo CSS dependencies -->
<link rel="stylesheet"
	ng-repeat="file in repo.css"
	bindonce="file"
	bo-href="repo.path + file.path + file.filename + '.css'">

<!-- pattern container -->
<div class="app-pattern">
	<!-- pattern editor -->
	<div class="app-pattern-editor" id="app-pattern-editor_{{pattern.id}}">
		<div ui-ace="{
			useWrapMode : true,
			showGutter: true,
			theme:'monokai',
			mode: 'xml',
			onLoad: aceLoaded,
			onChange: aceChanged
		}"
		ng-model="pattern.input"></div>
	</div>

	<!-- pattern display -->
	<div class="app-pattern-display"
		bindonce="pattern"
		bo-id="'app-pattern-display_' + pattern.id"
		ng-bind-html="pattern.safeInput"></div>
</div>
