/* override */
fieldset {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

.ng-scope,
.ng-isolate-scope {
	padding: 0;
	background: none;
}

/* section */
.sec {
	/*overflow: hidden;*/
}
.sec h3 {
	font-size: 24px;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #eee;
}

/* sec-demo */
.sec-demo {
	margin: 1em 0;
	padding: 0;
}
.sec-demo * {
	box-sizing: border-box;
}

/* ripple */
.ui-ripple-container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
	.ui-ripple-container .ui-ripple {
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-radius: 50%;
		background: red;
		pointer-events: none;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.ui-ripple-container .ui-ripple.ui-visible {
		-webkit-animation: 'anim-ripple' 0.7s;
		animation: 'anim-ripple' 0.7s;
	}
	.btn .ui-ripple-container .ui-ripple.ui-visible {
		-webkit-animation: 'anim-ripple-btn' 0.7s;
		animation: 'anim-ripple-btn' 0.7s;
	}
	.inputContainer .ui-ripple-container .ui-ripple.ui-visible {
		-webkit-animation: 'anim-ripple-input' 0.7s;
		animation: 'anim-ripple-input' 0.7s;
	}

/* card */
.card {
	display: block;
	position: relative;
	margin: 10px;
	padding: 10px;
	border: 1px solid #e2e2e2;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a.card:hover {
	border-color: transparent;
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.40);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.40);
}
.card:first-child {
	margin-left: 0;
}
.card:last-child {
	margin-right: 0;
}
ol.card li,
ul.card li {
	list-style: none;
}

/* sb-input */
.inputContainer {
	display: block;
	position: relative;
}
.inputContainer > .prefix {
	display: block;
	position: absolute;
	top: 50%;
	left: 10px;
	width: auto;
	height: auto;
	min-width: 1.2em;
	max-width: 35%;
	margin: 0;
	padding: 4px 6px;
	color: #88a2b3;
	background: #f2f2f2;
	text-align: center;
	font-size: 12px;
	line-height: 1.2em;
	font-weight: bold;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.inputContainer > .prefix.active {
	color: #fff;
	background: #2ea5dd;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.inputContainer > .ico[data-icon] {
	display: block;
	position: absolute;
	top: 50%;
	left: 6px;
	width: 26px;
	height: 26px;
	margin: 0;
	color: #88a2b3;
	text-align: center;
	font-size: 24px;
	line-height: 26px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.inputContainer > .ico[data-icon]:before {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: inherit;
	background: none;
	text-align: inherit;
	font-size: inherit;
	line-height: inherit;
}
.inputContainer > .ico[data-icon].active {
	color: #2ea5dd;
}

/* input */
input.text {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #e2e2e2;
	font-family: arial, sans-serif;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
input.text:focus {
	border-color: #2a9fd8;
	outline: none;
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.40);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.40);
}
input.text[disabled] {
	/*pointer-events: none;*/
	cursor: not-allowed;
}
input.bold {
	font-weight: bold;
}

/* btn */
.btn {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 10px 5px;
	padding: 8px 16px;
	color: #0067ab;
	background: #f2f2f2;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	text-decoration: none!important;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:first-child {
	margin-left: 0;
}
.btn:last-child {
	margin-right: 0;
}
a.btn:hover {
	background: #fff;
	border-color: rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}
a.btn:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* btn-action */
.btn-action {
	color: #fff;
	background: #7db841;
}
a.btn-action:hover {
	background: #7db841;
}

/* btn-sml */
.btn-sml {
	padding: 5px 10px;
	font-size: 12px;
}
.btn-lrg {
	padding: 10px 20px;
	font-size: 16px;
}

/* table */
.table {
	display: table;
	padding: 0;
	width: 100%;
	font-size: 13px;
}
	.table .th,
	.table .tr {
		display: table-row;
	}
	.table .th {
		color: #fff;
		background: #2a9fd8;
		font-weight: bold;
	}
		.table .tr > * {
			border-bottom: 1px solid #f2f2f2;
		}
		.table .th > *,
		.table .tr > * {
			display: table-cell;
			padding: 10px 5px;
		}
		.table .th > :first-child,
		.table .tr > :first-child {
			padding-left: 10px;
		}
		.table .th > :last-child,
		.table .tr > :last-child {
			padding-right: 10px;
		}

/* list-mkt */
.list-mkt {
	max-width: 620px;
}
	.list-mkt .title {
		font-size: 14px;
	}
	.list-mkt .tr .id {
		color: #2a9fd8;
		font-weight: bold;
	}
	.list-mkt .btn {
		margin: 0;
		width: 60px;
	}

/* btn-price */
.btn-price {
	width: 300px;
	height: auto;
	float: left;
	color: #000;
	background: #fff;
	font-size: 14px;
	line-height: 1.2em;
	text-decoration: none!important;
}
.btn-price:hover {
	color: #fff;
	background: #2ea5dd;
}
	/* btn-price - img */
	.btn-price > .icon-jersey {
		display: block;
		float: left;
		width: 19px;
		height: auto;
		margin: 0;
	}
	/* btn-price - price */
	.btn-price > .price {
		display: block;
		float: right;
		width: 60px;
		height: auto;
		margin: 0;
		text-align: right;
		font-size: 16px;
		line-height: 1.5em;
		font-weight: bold;
	}
	/* btn-price - content */
	.btn-price > .content {
		display: block;
		width: auto;
		margin: 0 70px 0 30px;
	}
		/* title */
		.btn-price > .content .title {
			margin: 0;
			font-size: 16px;
			line-height: 1.5em;
			white-space: nowrap;
			color: #0067ab;
			-webkit-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
		}
		:hover > .content .title {
			color: #fff;
		}
		/* desc */
		.btn-price > .content .desc {
			margin: 5px 0;
			color: #505050;
			font-size: 13px;
			-webkit-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
		}
		:hover > .content .desc {
			color: #fff;
		}
			.btn-price > .content p {
				margin: 0;
			}

/* form col */
fieldset.col {
	width: 300px;
	margin-right: 20px;
	float: left;
}
fieldset.col:last-child {
	margin-right: 0;
}

/* timer */
.ui-timer {
	margin: 0.5em 0 1.5em 0;
}
span[sb-timer-id] {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin: 2px;
	padding: 4px 8px;
	background: #f2f2f2;
	font-size: 14px;
	font-weight: bold;
	border-radius: 100px;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
span[sb-timer-id] b {
	display: inline-block;
	margin: 0 2px;
	opacity: 0.5;
}
span[sb-timer-id].soon {
	color: #ED1C24;
	background: #fce0e0;
}
span[sb-timer-id].sooner {
	color: #fff;
	background: #ED1C24;
	font-size: 18px;
}
span[sb-timer-id].sooner.animated {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation: 'anim-flip' 0.75s;
	animation: 'anim-flip' 0.75s;
}
span[sb-timer-id].sooner:nth-child(2).animated {
	-webkit-animation: 'anim-pulse' 0.25s;
	animation: 'anim-pulse' 0.25s;
}
span[sb-timer-id].sooner:nth-child(3).animated {
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation: 'anim-bounce' 0.75s;
	animation: 'anim-bounce' 0.75s;
}
span[sb-timer-id].sooner:nth-child(4).animated {
	opacity: 0;
	-webkit-animation: 'anim-fade' 0.95s;
	animation: 'anim-fade' 0.95s;
}
span[sb-timer-id].passed {
	opacity: 0.5;
}
span[sb-timer-id].passed:before {
	content: '-';
}

/* helpers */
.text-center {
	text-align: center!important;
}
.text-right {
	text-align: right!important;
}

/* animations */
@-webkit-keyframes anim-ripple {
	0% { background-color: rgba(255,255,0,0); }
	50% { background-color: rgba(255,255,0,0.3); }
	100% { background-color: rgba(255,255,0,0); width: 600px; height: 600px; }
}
@keyframes anim-ripple {
	0% { background-color: rgba(255,255,0,0); }
	50% { background-color: rgba(255,255,0,0.3); }
	100% { background-color: rgba(255,255,0,0); width: 600px; height: 600px; }
}
@-webkit-keyframes anim-ripple-btn {
	0% { background-color: rgba(0,0,0,0); }
	50% { background-color: rgba(0,0,0,0.2); }
	100% { background-color: rgba(0,0,0,0); width: 200px; height: 200px; }
}
@keyframes anim-ripple-btn {
	0% { background-color: rgba(0,0,0,0); }
	50% { background-color: rgba(0,0,0,0.2); }
	100% { background-color: rgba(0,0,0,0); width: 200px; height: 200px; }
}
@-webkit-keyframes anim-ripple-input {
	0% { background-color: rgba(0,190,255,0); }
	50% { background-color: rgba(0,190,255,0.25); }
	100% { background-color: rgba(0,190,255,0); width: 500px; height: 500px; }
}
@keyframes anim-ripple-input {
	0% { background-color: rgba(0,190,255,0); }
	50% { background-color: rgba(0,190,255,0.25); }
	100% { background-color: rgba(0,190,255,0); width: 500px; height: 500px; }
}

@-webkit-keyframes anim-pulse {
	0%,
	100% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(1.2); }
}
@keyframes anim-pulse {
	0%,
	100% { transform: scale(1); }
	50% { transform: scale(1.2); }
}
@-webkit-keyframes anim-flip {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	100% {
		-webkit-transform: perspective(400px);
	}
}
@keyframes anim-flip {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	100% {
		transform: perspective(400px);
	}
}
@-webkit-keyframes anim-bounce {
	0%, 20%, 53%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
	}
	40%, 43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -30px, 0);
	}
	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
	}
	90% {
		-webkit-transform: translate3d(0,-4px,0);
	}
}
@keyframes anim-bounce {
	0%, 20%, 53%, 80%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transform: translate3d(0,0,0);
	}
	40%, 43% {
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transform: translate3d(0, -30px, 0);
	}
	70% {
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transform: translate3d(0, -15px, 0);
	}
	90% {
		transform: translate3d(0,-4px,0);
	}
}
@-webkit-keyframes anim-fade {
	0% {
		-webkit-transition-timing-function: ease-in;
		-webkit-transform: scale(1.3) rotateX(-180deg);
		opacity: 0;
	}
	40%,
	70% {
		-webkit-transform: scale(1) rotateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transition-timing-function: ease-out;
		-webkit-transform: scale(0.5) rotateX(180deg);
		opacity: 0;
	}
}
@keyframes anim-fade {
	0% {
		transition-timing-function: ease-in;
		transform: scale(1.3) rotateX(-180deg);
		opacity: 0;
	}
	40%,
	70% {
		transform: scale(1) rotateX(0);
		opacity: 1;
	}
	100% {
		transition-timing-function: ease-out;
		transform: scale(0.5) rotateX(180deg);
		opacity: 0;
	}
}
